<header  id="banner">
</header>


<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4">
      <p></p>
     <p>  
      <a  role="button" ng-if="main.isLoggedIn()" href="/{{main.$cidade}}/reportar" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-plus"></i> Reportar foco </a>
          </p>
          <p>
              <a ng-if="!main.isLoggedIn()"  href="/login" class="btn btn-danger btn-lg" role="button">Reportar foco</a>
          </p>
       
      </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-2">  
   
   </div>
    <div class="col-lg-12">
      <map zoom="15" center="[{{main.focos[0].lat || -22.7338724}},{{main.focos[0].lng || -45.1201112}}]">
        <marker
         position="[{{foco.lat}}, {{foco.lng}}]" 
         on-click="main.showInfoWindow(event, foco)"
         optimized="true"
         title="{{foco.user.name}}"
         icon="/assets/images/dengue.png"
         ng-repeat="foco in main.focos">
        </marker>
      </map>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="modal-reportar" role="dialog">
    <div class="modal-dialog">
 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reportar novo foco</h4>
        </div>
        <div class="modal-body">
          <label>Qual o endereço do foco?</label>
            <p>
              <input type="text" class="form-control" placeholder="digite o nome do local" g-places-autocomplete ng-model="main.position" />
            </p>
            <label>Tem imagem do foco?</label>
             <input type='file' accept="image/*", ng-model='main.foco.foto' base-sixty-four-input>
            <p>

            </p>
            <label>Diga sobre o foco ( Ex: Proximo a antiga fábrica ).</label>
            <p>
              <textarea class="form-control" placeholder="Diga como está o local, um ponto de referencia." ng-model="main.foco.descricao"></textarea>
            </p>
            <p>
                <span class="input-group-btn">
                <button type="submit" class="btn btn-success add-foco" ng-click="main.addThing()">Adicionar Foco</button>
              </span>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
 -->