<header  id="banner">
</header>


<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4">
      <p></p>
     <p>  
      <a  role="button" ng-if="main.isLoggedIn()" href="/{{main.$cidade}}/reportar" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-plus"></i> Reportar foco </a>
          </p>
          <p>
              <a ng-if="!main.isLoggedIn()"  href="/login" class="btn btn-danger btn-lg" role="button">Reportar foco</a>
          </p>
       
      </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-2">  
   
   </div>
    <div class="col-lg-12">
      <map zoom="15" center="{{main.$cidadeSelecionada}}, {{main.$estadoSelecionado.sigla}}">
        <marker
         position="[{{foco.lat}}, {{foco.lng}}]" 
         on-click="main.showInfoWindow(event, foco)"
         optimized="true"
         title="{{foco.user.name}}"
         icon="/assets/images/dengue.png"
         ng-repeat="foco in main.focos">
        </marker>
      </map>
    </div>
  </div>
</div>

<div class="modal fade in" id="modal-reportar" role="dialog">
    <div class="modal-dialog">
 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reportar novo foco</h4>
        </div>
        <div class="modal-body">
          <label>Qual o endereço do foco?</label>
            <p>
              <select  class="form-control"
                name="estados"
                id="estados"
                ng-change="main.changeState()"
                ng-model="main.$estadoSelecionado"
                ng-options="estado.nome for estado in main.$brasil.$estados track by estado.sigla"
              >
                  <!-- <option value="{{estado}}" ng-repeat="estado in main.$brasil.$estados track by $index">
                      {{estado.nome}}
                  </option> -->
              </select>

             <p>
             
              <angucomplete-alt id="ex1"
              placeholder="cidade"
              pause="100"
              selected-object="main.$cidadeSelecionada"
              local-data="main.$estadoSelecionado.cidades"
              search-fields="nome"
              title-field="nome"
              minlength="1"
              input-class="form-control form-control-small"/>

          <!--     <select
                name="cidades"
                id="cidades"
                ng-options="cidade for cidade in main.$estadoSelecionado.cidades"
                ng-model="main.$cidadeSelecionada"
              >
 -->
              </select>
             </p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
